{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row">
        {% for picture in pictures %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="{% url 'webapp:picture_detail' picture.pk %}" style="text-decoration: none; color: black">
                    <img src="{{ picture.image.url }}" class="card-img-top" alt="{{ picture.summary }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ picture.summary }}</h5>
                        <p class="card-text">Дата добавления: {{ picture.date_created }}</p>
                        {% if user.is_authenticated %}

                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Первая">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ num }} <span class="sr-only">(текущая)</span></span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Следующая">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Последняя">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
